/* navbar */
.navLinks {
  display: flex;
  list-style: none;
  padding: 20px;
  padding-right: 40px;
  background: linear-gradient(90deg, rgba(46,9,121,1) 30%, rgba(145,0,255,1) 100%);
  margin-top: auto;
  margin-bottom: 0px;
  color: white;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  border-bottom-style: solid;
  border-bottom-width: thin;
  align-items: center;
}

li {
  padding-left: 40px;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.name {
  margin-right: auto;
  font-size: 24px;
}

/* home page */
.greeting {
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 45px;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 75%;
}

.home {
  height: 700px;
  display: flex;
  background-image: url('./images/nightsky.jpg');
  background-size: cover;

}

/* portfolio page */
.portfolio {
  height: 700px;
  background-image: url('./images/macbook.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.project {
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-rows: repeat(6, 1fr);
  border-style: solid;
  border-color: white;
  margin: 10px;
  margin-top: 50px;
  height: 400px;
  grid-gap: 10px;
}
.projectText {
  grid-column: 2 /4;
  grid-row: 4 / 6;
  color: white;
  font-size: 1.42vw;
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
}

.project img {
  grid-column: 2 /4;
  grid-row: 1 / 4;
  height: 100%;
  width: 90%;
  margin-top: 10px;
  border-style: solid;
  border-color: white
}
/* about page */
.aboutPage {
  height: 700px;
  display: flex;
  background-image: url('./images/hanging.jpg');
  background-size: cover;
}
.aboutHeading {
  font-size: 30px;
}
.aboutMe {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 75%;
  background: linear-gradient(0deg, rgba(240,240,240,0.22) 0%, rgba(0,0,0,0.1) 100%);
}
.aboutList {
  list-style: none;
  font-size: 32px;
  text-shadow: 2px 2px black;
  margin-top: auto;
  margin-bottom: auto;
}
.aboutList li {
  padding-left: 0px !important;
}
/*contct page*/
.contactPage {
  height: 800px;
  display: flex;
  background-image: url('./images/skyline.jpg');
  background-size: cover;
}

.contact {
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
}

.contacts {
  color: gold;
}

.contact h1 {
  font-size: 50px;
}

.contact p {
  font-size: 20px;
}
