.navLinks {
  display: flex;
  list-style: none;
  padding: 20px;
  padding-right: 40px;
  background: linear-gradient(90deg, rgba(46,9,121,1) 30%, rgba(145,0,255,1) 100%);
  margin-top: auto;
  margin-bottom: 0px;
  color: white;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  border-bottom-style: solid;
  border-bottom-width: thin;
  align-items: center;
}

li {
  padding-left: 40px;
}
.name {
  margin-right: auto;
  font-size: 25px;
}

.greeting {
  text-align: center;
  font-size: 45px;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 75%;
}

.home {
  height: 700px;
  display: flex;
  background-image: url('./images/nightsky.jpg');
  background-size: cover;

}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
