.navLinks {
  display: flex;
  list-style: none;
  padding: 30px;
  background-color: #311da3;
  margin-top: auto;
  margin-bottom: 0px;
  color: white;
}

li {
  padding-left: 40px;
}
.name {
  margin-right: auto;
}

.greeting {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
}

.content {
  height: 700px;
  display: flex;
  background-image: url('./images/nightsky.jpg');
  background-size: cover;

}
